*
{
    margin: 0;
    padding:0;
}
body
{
    font-family: sans-serif;
}

#navbar1 {
    position:sticky;
    top: 0;
    z-index:10;
}
.navbar {
    background-image: linear-gradient(to right, rgb(5, 85, 229) ,silver);
    padding: 0 !important;

}
.navbar-brand img {
    height: 80px;
    padding-left: 20px;
}
.navbar-nav li {
    padding: 0 10px;
}
.navbar-nav li a {
    color: #ffffff !important;
    font-weight: 600;
    float: right;
    text-align: left;

}

#banner {
    background-image: linear-gradient(to right, rgb(5, 85, 229) ,silver);
    color: rgb(0, 0, 0);
    padding-top: 5%;
    padding-bottom: 2%;
}

.promo {
    font-size: 40px;
    font-weight: 600;
    margin-top: 100px;
}

#myList {
    font-size: 20px;
    font-weight: 600;
    margin-top: 100px;
    color: rgb(34, 34, 255);
}